.fx-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: 100vh;
  margin: 0 auto;
}

.fx-ui-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 8px 8px #01101d;
}

.fx-currency-conversion-form {
  justify-content: center;
}

.fx-quote {
  padding: 16px 0;
  font-size: 2em;
  text-align: center;
}

.fx-quote-amount {
  font-weight: bold;
}

.fx-annotation {
  color: #333;
}
